//- - const user = 'Dean'
//- - const vehicle = 'bmw'


//- div.wrapper.ohnooo
//-     p.hello Hello! My dog's name is #{dog}.
//-     span.yo Yo!
//-     img.dog(src="dog.jpg" alt=`Dog ${dog}`)

//- h2 
    
//-     | Hello 
//-     em How are you?
//-     p User is #{user} and he has #{vehicle.toUpperCase()} car.
    

extends layout

block content
    p Hello

block footer
    p I am footer